{% extends "index.html" %}
{% block body %}

<main class="principal">
    <div class="table">
        <section class="table__header">
            <h1>Resumo</h1>
            <div class="input-group">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="cabecalho">Dia</th>
                        <th class="cabecalho">Programada</th>
                        <th class="cabecalho">Corte</th>
                        <th class="cabecalho">Virada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/09</td>
                        <td>100%</td>
                        <td>80%</td>
                        <td>42%</td>
                    </tr>
                    <tr>
                        <td>02/09</td>
                        <td>91%</td>
                        <td>82%</td>
                        <td>41%</td>
                    </tr>
                    <tr>
                        <td>03/09</td>
                        <td>92%</td>
                        <td>83%</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>04/09</td>
                        <td>93%</td>
                        <td>84%</td>
                        <td>39%</td>
                    </tr>
                    <tr>
                        <td>05/09</td>
                        <td>94%</td>
                        <td>85%</td>
                        <td>38%</td>
                    </tr>
                    <tr>
                        <td>06/09</td>
                        <td>95%</td>
                        <td>86%</td>
                        <td>37%</td>
                    </tr>
                    <tr>
                        <td>07/09</td>
                        <td>96%</td>
                        <td>87%</td>
                        <td>36%</td>
                    </tr>
                    <tr>
                        <td>08/09</td>
                        <td>97%</td>
                        <td>88%</td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <td>09/09</td>
                        <td>98%</td>
                        <td>89%</td>
                        <td>34%</td>
                    </tr>
                    <tr>
                        <td>10/09</td>
                        <td>99%</td>
                        <td>90%</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>11/09</td>
                        <td>95%</td>
                        <td>91%</td>
                        <td>33%</td>
                    </tr>
                    <tr>
                        <td>12/09</td>
                        <td>87%</td>
                        <td>92%</td>
                        <td>32%</td>
                    </tr>
                    <tr>
                        <td>13/09</td>
                        <td>82%</td>
                        <td>93%</td>
                        <td>31%</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="table">
        <section class="table__header">
            <h1>Ordem de Produção</h1>
            <div class="input-group2">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <div class="select-group">
            <select name="ordemproducao" id="ordemproducao" multiple>
                <option value="1">Chassi 1</option>
                <option value="2">Chassi 2</option>
                <option value="3">Chassi 3</option>
                <option value="4">Chassi 4</option>
                <option value="5">Chassi 5</option>
            </select>
            <button id="filtrarOrdem" type="submit" class="btn btn-light" style=" margin-left: 10px;">Filtrar</button>
        </div>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="cabecalho">Código</th>
                        <th class="cabecalho">Qtd. Programada</th>
                        <th class="cabecalho">Qtd. Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>030317</td>
                        <td>11</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <td>030318</td>
                        <td>12</td>
                        <td>52</td>
                    </tr>
                    <tr>
                        <td>030319</td>
                        <td>13</td>
                        <td>53</td>
                    </tr>
                    <tr>
                        <td>030320</td>
                        <td>14</td>
                        <td>54</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="table">
        <section class="table__header">
            <h1>Consulta</h1>
            <div class="input-group3">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="cabecalho">Peça</th>
                        <th class="cabecalho">Qtd. Programada</th>
                        <th class="cabecalho">Qtd. Estoque</th>
                        <th class="cabecalho">Até dia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>030317</td>
                        <td>10</td>
                        <td>51</td>
                        <td>01/09</td>
                    </tr>
                    <tr>
                        <td>030318</td>
                        <td>11</td>
                        <td>52</td>
                        <td>02/09</td>
                    </tr>
                    <tr>
                        <td>030319</td>
                        <td>12</td>
                        <td>53</td>
                        <td>03/09</td>
                    </tr>
                    <tr>
                        <td>030317</td>
                        <td>10</td>
                        <td>50</td>
                        <td>01/09</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="table">
        <section class="table__header">
            <h1>Estoque de Chapas</h1>
            <div class="input-group4">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="cabecalho">Código - Descrição</th>
                        <th class="cabecalho">Qtd.Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>030317 - Descrição</td>
                        <td>2</td>                      
                    </tr>
                    <tr>
                        <td>030318 - Descrição</td>
                        <td>3</td>                                             
                    </tr>
                    <tr>
                        <td>030319 - Descrição</td>
                        <td>4</td>                                            
                    </tr>
                    <tr>
                        <td>030320 - Descrição</td>
                        <td>5</td>                                           
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
        <div class="table">
            <section class="table__header">
                <h1>Visão Geral das Cargas</h1>
                <div class="input-group5">
                    <input type="search" placeholder="Filtrar...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th class="cabecalho">Datas</th>
                            <th class="cabecalho">Recursos</th>
                            <th class="cabecalho">Qtd. Ped.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05/07/2023</td>
                            <td>459574 - Tambor Freio - Eixo F6F5</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>05/07/2023</td>
                            <td>459575 - Tambor Freio - Eixo F6F5</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
</main>

<script>
    new MultiSelectTag('ordemproducao', {
        rounded: true,    // default true
        shadow: true,      // default false
        placeholder: 'Pesquisar...',  // default Search...
        onChange: function(values) {
            console.log(values)
        }
})
</script>

{% endblock %}